# ===============================
# = Spring Profiles
# ===============================
spring:
  profiles:
    active: default
    locale: en

# ===============================
# = Server Ports.
# ===============================
server:
  port: 8700

# ===============================
# = Springdoc (Swagger/OpenAPI)
# ===============================
springdoc:
  swagger-ui:
    enabled: true

# ===============================
# = Actuator / Health Probes
# ===============================
management:
  server:
    port: 9001
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health,info,metrics,prometheus,livenessProbe,readinessProbe,groups

  endpoint:
    health:
      probes:
        enabled: true
      show-details: always

  health:
    livenessState:
      enabled: true
    readinessState:
      enabled: true
    diskSpace:
      enabled: true

  metrics:
    distribution:
      percentiles-histogram:
        http:
          server:
            requests: true
    tags:
      application: ${spring.application.name}
      profile: ${spring.profiles.active:default}

# ===============================
# = OpenTelemetry Configuration
# ===============================
otel:
  sdk:
    disabled: false
  traces:
    exporter: otlp
  metrics:
    exporter: otlp
  logs:
    exporter: otlp
  exporter:
    otlp:
      protocol: grpc
      endpoint: http://localhost:4317
  resource:
    attributes:
      service.name: spring-microservice-template
      service.version: 0.0.1-SNAPSHOT
  instrumentation:
    micrometer:
      enabled: true