<configuration>

    <springProfile name="default">
        <root level="DEBUG">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="deploy">
        <root level="INFO">
            <appender-ref ref="ASYNC_CONSOLE"/>
        </root>

        <logger name="org.springframework" level="WARN"/>
        <logger name="reactor.netty" level="WARN"/>
    </springProfile>

</configuration>
