global:
  scrape_interval: 30s
  evaluation_interval: 30s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'alloy'
    static_configs:
      - targets: ['collector:12345']

  - job_name: 'spring-microservice-template'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['spring-microservice-template:9001']
